services:
    sonata.admin.coach_user:
        class: Omer\UserBundle\Admin\CoachUserAdmin
        arguments:
            - ~
            - Omer\UserBundle\Entity\CoachUser
            - ~
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Personal Info" , label: "Coach" }
        calls:
            - [ setTranslationDomain, [FosUserBundle]]
