{% extends 'base.html.twig' %}

{% block content %}
    <div class="registration-bg" style="background-image: url({{ asset('bundles/omerteam/images/registration_bg.jpg') }});">
        {% block registration %}
        {% endblock %}
    </div>

{% endblock %}

