<footer class="footer">
    <div class="container">
        <div class="col-md-3">
            <img src="{{ asset('bundles/omerteam/images/logo.png') }}" alt="{{ 'title'|trans() }}">
            <span class="logo-text">Odyssey of <br> the Mind</span>
        </div>

        <div class="col-md-6">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <span class="address-text">Our address:</span>
                <span class="address">222397 Minsk region, Miadziel district, village Zubrenevka</span>
            </div>
            {#<div class="col-md-1"></div>#}
            <div class="col-md-5">
                <span class="address-text">Contact Us:</span>
                <span class="address">
                    <a href="http://zubronok.by/" target="_blank">zubronok.by</a>
                    <a href="http://zubronok.by/" target="_blank">zubronok.by</a>
                </span>
            </div>

        </div>
        <div class="col-md-3 social">
            <ul class="social-links pull-right">
                <li><a href="" target="_blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a></li>
                <li><a href="" target="_blank"><i class="fa fa-vk fa-3x" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</footer>