<section id="news">
    <div class="container">
          <div class="row" id="about">
            <div class="col-md-12">
                <div class="news-block">
                    <h3>About Eurofest</h3>
                    <p>Odyssey of the Mind EuroFest is an annual meeting of teams, coaches and officials from across Europe and beyond.
                        It is not a typical tournament but rather a fun-filled festival: young attendees showcase their Long-Term Problem solutions,
                        practice Spontaneous, make new friends and play together.
                        They also compete in solving a special EuroFest Problem on the spot - in groups mixed of three different international teams each.
                        EuroFest is a perfect opportunity to learn tolerance and understanding = through hands-on, real-time cooperation.
                        While watching and discussing other teams' solutions to Odyssey of the Mind Problems,
                        kids make observations and draw conclusions useful in their future work. While solving EuroFest Problem,
                        they share experiences with their international peers, and overcome language barriers and cultural diversities.
                        Last but not least, they enjoy the adventure associated with visiting a foreign land and getting to know new places and new people.</p>
                </div>
            </div>
        </div>
        <div class="row" id="schedule">
            <div class="col-md-12">
                <div class="news-block">
                    <h3>Schedule</h3>
                    {#<a href="" target="_blank" download="">Download pdf version</a>#}
                    <p>April 23rd, 2017 </p>
                    <ol>
                        <li>Teams arrival. Teams will be transferred at the airport or railway station by buses from Zubronok.</li>
                        <li>Opening ceremony.</li>
                        <li>EuroFest Welcome Celebration</li>
                    </ol>
                    <p>April 24rd, 2017</p>
                    <ol>
                        <li>Teams competition.</li>
                        <li>International Show «Zubrovision».</li>
                    </ol>
                    <p>April 25rd, 2017</p>
                    <ol>
                        <li>Teams competition.</li>
                        <li>International Fair.</li>
                    </ol>
                    <p>April 26rd, 2017</p>
                    <ol>
                        <li>AD’s meeting.</li>
                        <li>Excursion day. Tip to the National cultures center.</li>
                    </ol>
                    <p>April 27rd, 2017</p>
                    <ol>
                        <li>EF Mixed Teams’ Problem CompetitionClosing Ceremony</li>
                        <li>Party.</li>
                    </ol>
                    <p>April 28rd, 2017</p>
                    <ol>
                        <li>Departures.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row" id="accomodation">
            <div class="col-md-12">
                <div class="news-block">
                    <h3>Accomodation</h3>
                    <p>Eurofest will take place at NDC "Zubronok"</p>
                    <p><a href="http://zubronok.by/en/about_Zubronok_en" target="_blank">To learn more about Zubronok</a></p>
                    <a href="https://www.google.com/maps/place/%D0%97%D1%83%D0%B1%D1%80%D1%91%D0%BD%D0%BE%D0%BA/@54.8759704,26.6400471,11z
                    /data=!4m5!3m4!1s0x46dcf1f862e79767:0x2b6233700d27a0d1!8m2!3d54.8359003!4d26.7142224" target="_blank">
                        <img class="map" src="{{ asset('bundles/omerteam/images/map.png') }}" alt="">
                    </a>
                    <p>In a beautiful corner of Belarus among the amazing lakes and wonderful forests, there is a unique land of childhood – the center "Zubrenok."
                        For many years it has been pleasing young people with its warmth and tenderness and giving them joyful meetings,
                        unforgettable emotions, good humor and friendship.</p>
                    <p>In August 17, 1969 silver pioneering horns heralded the fact that on the shores of the blue-eyed Narach Pioneer and Komsomol Belarusian Camp was opened. From that day "Zubrenok" became the capital of a happy childhood, the headquarters of many interesting cases and undertakings. A trip to the camp is a great honor, a reward for exemplary school studies, socially useful things, high confidence of the school community. On 76 acres of pine forest stretches the Republic of "Zubrenok". The first buildings were service dormitory with 160 seats, a dining room and a medical centre.
                        Various clubs, tourist societies, a library, swimming and sport activities occupy children's spare time.</p>
                    <p>Various clubs, tourist societies, a library, swimming and sport activities occupy children's spare time.</p>
                    <p>"Zubrenok" today is a complex of seven buildings: "Lazurniy Ostrov", "Lesnoy Dom", "Ozerniy Prichal", "Solnechniy Gorod", "Zvezdniy Mir", "Zelyonaya Polyana", "Raduzhniy".
                        It can hold more than 700 people. </p>
                </div>
            </div>
        </div>
        <div class="row" id="fee">
            <div class="col-md-12">
                <div class="news-block">
                    <h3>Fee</h3>
                    <p>Стоимость участия составляет 225 евро. Белорусские команды оплачивают в белорусских рублях,
                        российские - в российских рублях по курсу на день выставления счет-фактуры, иные в евро
                        или долларах на дату выставления инвойса.</p>
                </div>
            </div>
        </div>
        <div class="row" id="committe">
            <div class="col-md-12">
                <div class="news-block">
                    <h3>Organisation committe</h3>
                </div>
            </div>
        </div>
    </div>
</section>
