<section id="news">
    <div class="container">
          <div class="row" id="about">
            <div class="col-md-12">
                <div class="news-block">
                    <h3>About Eurofest</h3>
                    <p>«Одиссея Разума» – международная креативная программа развития творческого мышления,
                        навыков командного взаимодействия, взаимопонимания, умения ставить цели и достигать их.</p>
                </div>
            </div>
        </div>
        <div class="row" id="schedule">
            <div class="col-md-12">
                <div class="news-block">
                    <h3>Schedule</h3>
                    <p>April 23rd, 2017 <a href="" target="_blank" download="">Download pdf version</a></p>
                    <p>April 24rd, 2017 <a href="" target="_blank" download="">Download pdf version</a></p>
                    <p>April 25rd, 2017 <a href="" target="_blank" download="">Download pdf version</a></p>
                    <p>April 26rd, 2017 <a href="" target="_blank" download="">Download pdf version</a></p>
                    <p>April 27rd, 2017 <a href="" target="_blank" download="">Download pdf version</a></p>
                    <p>April 28rd, 2017 <a href="" target="_blank" download="">Download pdf version</a></p>
                </div>
            </div>
        </div>
        <div class="row" id="accomodation">
            <div class="col-md-12">
                <div class="news-block">
                    <h3>Accomodation</h3>
                    <p>Eurofest will take place at NDC "Zubronok"</p>
                    <p><a href="http://zubronok.by/en/about_Zubronok_en" target="_blank">To learn more about Zubronok</a></p>
                    {% include '@OmerTeam/Default/_map.html.twig' %}
                    {#<a href="https://www.google.com/maps/place/%D0%97%D1%83%D0%B1%D1%80%D1%91%D0%BD%D0%BE%D0%BA/@54.8759704,26.6400471,11z#}
                    {#/data=!4m5!3m4!1s0x46dcf1f862e79767:0x2b6233700d27a0d1!8m2!3d54.8359003!4d26.7142224" target="_blank">#}
                        {#<img class="map" src="{{ asset('bundles/omerteam/images/map.png') }}" alt="">#}
                    {#</a>#}
                </div>
            </div>
        </div>
        <div class="row" id="fee">
            <div class="col-md-12">
                <div class="news-block">
                    <h3>Fee</h3>
                    <p>Стоимость участия составляет 225 евро. Белорусские команды оплачивают в белорусских рублях,
                        российские - в российских рублях по курсу на день выставления счет-фактуры, иные в евро
                        или долларах на дату выставления инвойса.</p>
                </div>
            </div>
        </div>
        <div class="row" id="committe">
            <div class="col-md-12">
                <div class="news-block">
                    <h3>Organisation committe</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tortor sapien, varius quis ipsum
                        id, aliquet egestas enim. Fusce eu varius libero, eu tempus libero. Nulla nec sollicitudin sem,
                        a congue sapien. Integer et sodales lorem. Pellentesque accumsan pellentesque nulla, id rhoncus
                        lacus lacinia quis. Ut interdum, nulla sed pellentesque ullamcorper, tellus nibh sagittis nunc,
                        ut mattis neque augue sit amet mauris. Vestibulum mollis vestibulum eros, nec egestas sapien
                        laoreet et. Donec a est at nibh tincidunt ultricies in eu est.</p>
                </div>
            </div>
        </div>
    </div>
</section>
