services:
    sonata.admin.team:
        class: Omer\TeamBundle\Admin\ForeignTeamAdmin
        arguments:
            - ~
            - Omer\TeamBundle\Entity\ForeignTeam
            - OmerTeamBundle:BaseTeamAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: 'label.group.team_info' , label: 'admin.group_label.team' }
        calls:
            - [ setTranslationDomain, [OmerTeamBundle] ]
            - [ setTokenStorage, ['@security.token_storage'] ]

    sonata.admin.team_member:
        class: Omer\TeamBundle\Admin\TeamMemberAdmin
        arguments:
            - ~
            - Omer\TeamBundle\Entity\TeamMember
            - OmerTeamBundle:TeamMemberAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: 'label.group.team_info' , label: 'admin.group_label.team_members' }
        calls:
            - [ setTranslationDomain, [OmerTeamBundle] ]
            - [ setTokenStorage, ['@security.token_storage'] ]

    sonata.admin.other_people:
        class: Omer\TeamBundle\Admin\OtherPeopleAdmin
        arguments:
            - ~
            - Omer\TeamBundle\Entity\OtherPeople
            - OmerTeamBundle:OtherPeopleAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: 'label.group.team_info' , label: 'admin.group_label.other_people' }
        calls:
            - [ setTranslationDomain, [OmerTeamBundle] ]
            - [ setTokenStorage, ['@security.token_storage'] ]

    builder.team_excel_builder:
        class: Omer\TeamBundle\Builder\TeamExcelBuilder
        arguments: ['@service_container']

    builder.official_user_builder:
        class: Omer\TeamBundle\Builder\OfficialUserExcelBuilder
        arguments: ['@service_container']
