services:
    sonata.admin.team:
        class: Omer\TeamBundle\Admin\TeamAdmin
        arguments:
            - ~
            - Omer\TeamBundle\Entity\Team
            - ~
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Team info" , label: "Team" }
        calls:
            - [ setTranslationDomain, [OmerTeamBundle] ]
            - [ setTokenStorage, ['@security.token_storage'] ]

    sonata.admin.team_member:
        class: Omer\TeamBundle\Admin\TeamMemberAdmin
        arguments:
            - ~
            - Omer\TeamBundle\Entity\TeamMember
            - ~
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Team info" , label: "Team members" }
        calls:
            - [ setTranslationDomain, [OmerTeamBundle] ]
            - [ setTokenStorage, ['@security.token_storage'] ]
