services:
    sonata.admin.team:
        class: Omer\TeamBundle\Admin\BaseTeamAdmin
        arguments:
            - ~
            - Omer\TeamBundle\Entity\BaseTeam
            - ~
        tags:
            - { name: sonata.admin, manager_type: orm, group: 'label.group.team_info' , label: 'label.group_label.team' }
        calls:
            - [ setTranslationDomain, [OmerTeamBundle] ]
            - [ setTokenStorage, ['@security.token_storage'] ]

    sonata.admin.team_member:
        class: Omer\TeamBundle\Admin\TeamMemberAdmin
        arguments:
            - ~
            - Omer\TeamBundle\Entity\TeamMember
            - ~
        tags:
            - { name: sonata.admin, manager_type: orm, group: 'label.group.team_info' , label: 'label.group_label.team_members' }
        calls:
            - [ setTranslationDomain, [OmerTeamBundle] ]
            - [ setTokenStorage, ['@security.token_storage'] ]

    builder.team_excel_builder:
        class: Omer\TeamBundle\Builder\TeamExcelBuilder
        arguments: ['@service_container']
