# To get started with security, check out the documentation:
# http://symfony.com/doc/current/security.html
security:

    encoders:
        FOS\UserBundle\Model\UserInterface: bcrypt

    role_hierarchy:
        ROLE_SONATA:
            - ROLE_ADMIN
            - ROLE_USER
            - ROLE_SONATA_ADMIN

        ROLE_SUPER_ADMIN:
            - ROLE_SONATA
            - ROLE_ALLOWED_TO_WATCH

        ROLE_OFFICIAL_USER:
            - ROLE_SONATA
            - ROLE_SONATA_ADMIN_OFFICIAL_USER_VIEW
            - ROLE_SONATA_ADMIN_OFFICIAL_USER_LIST
            - ROLE_SONATA_ADMIN_OFFICIAL_USER_EDIT
            - ROLE_SONATA_ADMIN_LOGIN_VIEW
            - ROLE_SONATA_ADMIN_LOGIN_LIST
            - ROLE_SONATA_ADMIN_LOGIN_EDIT

        ROLE_VIEWER:
            - ROLE_SONATA_ADMIN_TEAM_VIEW
            - ROLE_SONATA_ADMIN_TEAM_LIST
            - ROLE_SONATA_ADMIN_COACH_VIEW
            - ROLE_SONATA_ADMIN_COACH_LIST
            - ROLE_SONATA_ADMIN_TEAM_MEMBER_VIEW
            - ROLE_SONATA_ADMIN_TEAM_MEMBER_LIST
            - ROLE_SONATA_ADMIN_OTHER_PEOPLE_VIEW
            - ROLE_SONATA_ADMIN_OTHER_PEOPLE_LIST
            - ROLE_SONATA_ADMIN_OFFICIAL_USER_VIEW
            - ROLE_SONATA_ADMIN_OFFICIAL_USER_LIST
            - ROLE_SONATA_ADMIN_LOGIN_VIEW
            - ROLE_SONATA_ADMIN_LOGIN_LIST

        ROLE_DIRECTOR:
            - ROLE_OFFICIAL_USER

        ROLE_JUDGE:
            - ROLE_OFFICIAL_USER

        ROLE_MAIN_ADMIN:
            - ROLE_SONATA
            - ROLE_VIEWER
            - ROLE_SONATA_ADMIN_TEAM_CREATE
            - ROLE_SONATA_ADMIN_TEAM_DELETE
            - ROLE_SONATA_ADMIN_TEAM_EDIT
            - ROLE_SONATA_ADMIN_TEAM_MEMBER_CREATE
            - ROLE_SONATA_ADMIN_TEAM_MEMBER_DELETE
            - ROLE_SONATA_ADMIN_TEAM_MEMBER_EDIT
            - ROLE_SONATA_ADMIN_COACH_CREATE
            - ROLE_SONATA_ADMIN_COACH_DELETE
            - ROLE_SONATA_ADMIN_COACH_EDIT
            - ROLE_SONATA_ADMIN_OTHER_PEOPLE_CREATE
            - ROLE_SONATA_ADMIN_OTHER_PEOPLE_DELETE
            - ROLE_SONATA_ADMIN_OTHER_PEOPLE_EDIT
            - ROLE_SONATA_ADMIN_OFFICIAL_USER_CREATE
            - ROLE_SONATA_ADMIN_OFFICIAL_USER_DELETE
            - ROLE_SONATA_ADMIN_OFFICIAL_USER_EDIT

    providers:
#        in_memory:
#            memory: ~
        fos_userbundle:
            id: fos_user.user_provider.username_email

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

#        main:
#            pattern: ^/
#            form_login:
#                provider: fos_userbundle
#                csrf_token_generator: security.csrf.token_manager
#            logout:       true
#            anonymous:    true

        admin:
            pattern: ^/
            form_login:
                provider: fos_userbundle
                login_path: /admin/login
                failure_path: /
                default_target_path: /
                csrf_token_generator: security.csrf.token_manager
            anonymous: true
            logout: true

    access_control:
        - { path: ^/admin/login, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }

        - { path: ^/admin/, role: IS_AUTHENTICATED_FULLY }

#        - { path: ^/efconnect, role: ROLE_USER }
#        - { path: ^/elfinder, role: ROLE_USER }
