# To get started with security, check out the documentation:
# http://symfony.com/doc/current/security.html
security:

    encoders:
#        FOS\UserBundle\Model\UserInterface: bcrypt
        FOS\UserBundle\Model\UserInterface: plaintext

    role_hierarchy:
        ROLE_COACH:
            - ROLE_ADMIN
            - ROLE_SONATA_ADMIN_COACH_USER_EDIT
            - ROLE_SONATA_ADMIN_COACH_USER_VIEW
            - ROLE_SONATA_ADMIN_COACH_USER_LIST
            - ROLE_SONATA_ADMIN_TEAM_EDIT
            - ROLE_SONATA_ADMIN_TEAM_VIEW
            - ROLE_SONATA_ADMIN_TEAM_LIST
            - ROLE_SONATA_ADMIN_TEAM_MEMBER_CREATE
            - ROLE_SONATA_ADMIN_TEAM_MEMBER_DELETE
            - ROLE_SONATA_ADMIN_TEAM_MEMBER_EDIT
            - ROLE_SONATA_ADMIN_TEAM_MEMBER_VIEW
            - ROLE_SONATA_ADMIN_TEAM_MEMBER_LIST
#
        ROLE_SUPER_ADMIN:
            - ROLE_ADMIN
            - ROLE_ALLOWED_TO_WATCH

        ROLE_ADMIN:
            - ROLE_USER
            - ROLE_SONATA_ADMIN

    providers:
        in_memory:
            memory: ~
        fos_userbundle:
            id: fos_user.user_provider.username

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

#        main:
#            pattern: ^/
#            form_login:
#                provider: fos_userbundle
#                csrf_token_generator: security.csrf.token_manager
#            logout:       true
#            anonymous:    true

        admin:
            pattern: ^/
            form_login:
                provider: fos_userbundle
                login_path: /login                #change to /admin/login
                failure_path: /
                default_target_path: /admin/dashboard
                csrf_token_generator: security.csrf.token_manager
            anonymous: true
            logout: true

    access_control:
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/, role: ROLE_ADMIN }
