<section id="video">
    <div class="container">
        {% if video is not null %}
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="video-block">
                    <div class="video-main-title"><h3>25 Eurofestival international competition of creativity Odyssey of the mind</h3></div>
                    <iframe src="{{ video.link }}" align="middle" width="660" height="415" frameborder="0" allowfullscreen></iframe>
                    <div class="video-main-title">
                        <h4><a href="{{ path('video_index') }}" class="video-main-title">Find more videos from Eurofest 2017.</a></h4>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>
