{#{% trans_default_domain 'OmerTeamBundle' %}#}

{#<h3>{{ 'email.letter.greeting'|trans() }}</h3>#}

<h3>Здравствуйте, {{ name }}</h3>

Логин: {{ username }}
Пароль:    {{ password }}

Ваша команда успешно зарегестрирована!
Регистрационную информациию Вы найдете в вашем профиле на сайте, а также в прикрепленном документе.
