#video {
    padding-top: 3em;
    background-color: white;
}

#video .video-block {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -.04em;
    margin-top: 24px;
    margin-bottom: 12px;
    text-align: center;
}

#video .video-main-title h3{
    color: black;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -.04em;
    margin-bottom: 20px;
    text-align: center;
}

#video h4 {
    font-size: 24px;
    text-align: left;
    line-height: 1;
    /*padding: 10px;*/
    margin-top: 1em;
    font-weight: 700;
    /*letter-spacing: -.04em;*/
}

#video .video-main-title h4{
    text-align: center;
}

#video .video_frame {
    margin-left: 30px;
}