@font-face {
    font-family: "Rockwell Std Regular";
    src: url("../fonts/rockwellstd.ttf");
}

@font-face {
    font-family: "Trebuchet MS";
    src: url("../fonts/TrebuchetMS.ttf");
}

@font-face {font-family: "ITC Beesknees Cyrillic";
    src: url("../fonts/ITC.otf");
}

@font-face {font-family: "CCZoinks";
    src: url("../fonts/9914.ttf");
}

body {
    font-family: "Trebuchet MS", serif;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.3);
}

.team-registration {
    margin-top: 75px;
}

.navbar-brand img {
    height: 100%;
    display: inline;
}

.navbar-brand .navbar-title {
    display: inline;
    color: whitesmoke;
    cursor: pointer;
}

.navbar-default {
    border: none;
}

.nav>li>a {
    color: whitesmoke !important;
}

.nav>li:hover {
    background-color: rgba(0,0,0,0.6);
    transition: color 0.2s ease 0s, background-color 0.3s ease 0s;
    transition-property: color, background-color;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
}

.registration-bg {
    height: 100%;
    width: 100%;
    position: fixed;

    background-repeat: no-repeat;
    background-position: center;
    overflow-y: scroll;
}

.registration-bg form {
    background: rgba(0, 0, 0, 0.5);
}

.registration-bg .registration-lead,
.registration-bg h3 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.registration-bg input[type="text"],
.registration-bg input[type="email"],
.registration-bg textarea {
    background-color: rgba(255,255,255, 0.9);
}

.registration-bg input::-moz-placeholder,
.registration-bg input::-webkit-input-placeholder,
.registration-bg input:-ms-input-placeholder {
    color: white;
}

.registration-bg
div[id*="omer_teambundle_team_members"] > label.required {
    display: none;
}

form[name="omer_teambundle_team"] {
    border: none;
    border-radius: 5px;
    padding: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}

form[name="omer_teambundle_team"] label {
    display: none;
}

form[name="omer_teambundle_team"] input[type="text"] {
    margin: 10px 0px 10px 0px;
}

form[name="omer_teambundle_team"] .btn {
    margin: 10px 0px 10px 0px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #dddddd;
    border-radius: 15px;
    border: 1px solid #dddddd;
    background: transparent;
}

form[name="omer_teambundle_team"] .btn-danger {
    float: right;
}

form[name="omer_teambundle_team"] .btn.collection-action {
    width: 100%;
}

form[name="omer_teambundle_team"] #create-team {
    text-transform: uppercase;
    font-size: 16px;
    width: 50%;
    height: 40px;
    margin-top: 20px;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("../images/main_bg.png") no-repeat;
    background-size: cover;
}

.main-form {
    background-color: rgba(0,0,0, 0.3);
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 7vh;
}

.main-form .login-text {
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.main-form input[type="text"],
.main-form input[type="password"]{
    background-color: rgba(0,0,0, 0.5) !important;
    height: 40px;
    border: none;
    color: #bbb !important;
    text-align: center;
    border-radius: 15px;
}

.main-form .login-btn,
.main-form .register-team-btn {
    height: 40px;
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
    color: #dddddd;
    border-radius: 15px;
    border: 1px solid #dddddd;
    background: transparent;
}

.main-form .login-btn:hover,
.main-form .login-btn:focus,
.main-form .login-btn:active,
.main-form .register-team-btn:hover,
.main-form .register-team-btn:focus,
.main-form .register-team-btn:active,
form[name="omer_teambundle_team"] .btn:hover {
    transition: background-color .15s ease,border-color .15s ease,color .15s ease;
    transition-property: background-color, border-color, color;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease, ease, ease;
    background-color: whitesmoke !important;
    border-color: whitesmoke !important;
    color: #0a0a0a !important;
}

form[name="omer_teambundle_team"] .btn.collection-action:hover {
    background-color: rgba(105, 228, 105, 0.8) !important;
    border-color: rgba(105, 228, 105, 0.8) !important;
}

form[name="omer_teambundle_team"] .btn.collection-action.btn-danger:hover {
    background-color: rgba(234, 70, 70, 0.8) !important;
    border-color: rgba(234, 70, 70, 0.8) !important;
}

.main-form.logged-in .login-btn {
    margin-top: 15px;
}

.main-logo-lead {
    margin-top: 12vh;
    margin-bottom: 5vh;
    text-align: center;
}

.main-logo-lead a:hover {
    cursor: pointer;
    text-decoration: none;
}

.main-logo {
    height: 20vh;
    display: inline;
    vertical-align: middle;
    margin-right: 20px;
}

.main-lead {
    font-size: 9vh;
    font-family: "CCZoinks";
    color: white;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    letter-spacing: 5px;
}

.main-lead:hover {
    cursor: pointer;
}

.main-sub-lead {
    font-size: 32px;
    font-style: italic;
    font-family: -webkit-body;
    color: white;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

.main-form input:-webkit-autofill,
.main-form input:-webkit-autofill:hover,
.main-form input:-webkit-autofill:focus,
.main-form input:-webkit-autofill:active {
    -webkit-text-fill-color: #bbb !important;
    transition: background-color 5000s ease-in-out 0s;
}

.h1 {
    color: whitesmoke;
}

input:focus,
input:active{
    outline: none !important;
}