@font-face {
    font-family: "Rockwell Std Regular";
    src: url("../fonts/rockwellstd.ttf");
}

@font-face {
    font-family: "Trebuchet MS";
    src: url("../fonts/TrebuchetMS.ttf");
}

@font-face {font-family: "ITC Beesknees Cyrillic";
    src: url("../fonts/ITC.otf");
}

@font-face {font-family: "CCZoinks";
    src: url("../fonts/9914.ttf");
}

body {
    font-family: "Trebuchet MS", serif;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.3);
}

.team-registration {
    margin-top: 75px;
}

.navbar-brand img {
    height: 100%;
    display: inline;
    padding-left: 13px;
}

.navbar-brand .navbar-title {
    display: inline;
    color: whitesmoke;
    cursor: pointer;
}

.navbar-default {
    border: none;
}

.nav>li>a {
    color: whitesmoke !important;
}

.nav>li:hover,
.navbar-header:hover{
    background-color: rgba(0,0,0,0.6);
    transition: color 0.2s ease 0s, background-color 0.3s ease 0s;
    transition-property: color, background-color;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
}
.reg-bg {
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    filter: grayscale(40%) ;
}

.registration-bg {
    height: 100%;
    width: 100%;
    filter: grayscale(40%) ;
}

.registration-bg form {
    background: rgba(0, 0, 0, 0.5);
}

.registration-bg form.no-bg {
    background: transparent;
}

.registration-bg .registration-lead,
.registration-bg h3 {
    text-align: center;
    text-transform: uppercase;
    color: whitesmoke;
}

.registration-bg input[type="text"],
.registration-bg input[type="email"],
.registration-bg textarea {
    background-color: rgba(255,255,255, 0.9);
}

.registration-bg input::-moz-placeholder,
.registration-bg input::-webkit-input-placeholder,
.registration-bg input:-ms-input-placeholder {
    color: white;
}

.registration-bg
div[id*="omer_teambundle_team_members"] > label.required {
    display: none;
}

form[name="omer_teambundle_team"] {
    border: none;
    border-radius: 10px;
    padding: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}

form[name="omer_teambundle_team"] label {
    display: none;
}

form[name="omer_teambundle_team"] input[type="text"],
form[name="omer_teambundle_team"] textarea {
    margin: 10px 0px 10px 0px;
}

form[name="omer_teambundle_team"] .btn {
    margin: 10px 0px 10px 0px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #dddddd;
    border-radius: 15px;
    border: 1px solid #dddddd;
    background: transparent;
}

form[name="omer_teambundle_team"] .btn-danger {
    float: right;
}

form[name="omer_teambundle_team"] .btn.collection-action {
    width: 100%;
}

form[name="omer_teambundle_team"] #create-team {
    text-transform: uppercase;
    font-size: 16px;
    width: 50%;
    height: 40px;
    margin-top: 20px;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("../images/main_bg.png") no-repeat;
    background-size: cover;
}

.main-form {
    background-color: rgba(0,0,0, 0.3);
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 7vh;
}

.main-form .login-text {
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.main-form input[type="text"],
.main-form input[type="password"]{
    background-color: rgba(0,0,0, 0.5) !important;
    height: 40px;
    border: none;
    color: #bbb !important;
    text-align: center;
    border-radius: 15px;
}

.main-form .login-btn,
.main-form .register-team-btn {
    height: 40px;
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
    color: #dddddd;
    border-radius: 15px;
    border: 1px solid #dddddd;
    background: transparent;
}

.main-form .login-btn:hover,
.main-form .login-btn:focus,
.main-form .login-btn:active,
.main-form .register-team-btn:hover,
.main-form .register-team-btn:focus,
.main-form .register-team-btn:active,
form[name="omer_teambundle_team"] .btn:hover {
    transition: background-color .15s ease,border-color .15s ease,color .15s ease;
    transition-property: background-color, border-color, color;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease, ease, ease;
    background-color: whitesmoke !important;
    border-color: whitesmoke !important;
    color: #0a0a0a !important;
}

form[name="omer_teambundle_team"] .btn.collection-action:hover {
    background-color: rgba(105, 228, 105, 0.8) !important;
    border-color: rgba(105, 228, 105, 0.8) !important;
}

form[name="omer_teambundle_team"] .btn.collection-action.btn-danger:hover {
    background-color: rgba(234, 70, 70, 0.8) !important;
    border-color: rgba(234, 70, 70, 0.8) !important;
}

.main-form.logged-in .login-btn {
    margin-top: 15px;
}

.main-form .forgot-password a{
    color: white;
}

.main-form .forgot-password a:hover {
    color: #ccc;
    text-decoration: none;
}

.main-logo-lead {
    margin-top: 12vh;
    margin-bottom: 5vh;
    text-align: center;
}

.main-logo-lead a:hover {
    cursor: pointer;
    text-decoration: none;
}

.main-logo {
    height: 20vh;
    display: inline;
    vertical-align: middle;
    margin-left: 10px;
}

.main-lead {
    font-size: 10vh;
    font-family: "CCZoinks";
    color: white;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    letter-spacing: 5px;
}

.main-lead:hover {
    cursor: pointer;
}

.main-sub-lead {
    font-size: 32px;
    font-style: italic;
    font-family: -webkit-body;
    color: white;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

.main-form input:-webkit-autofill,
.main-form input:-webkit-autofill:hover,
.main-form input:-webkit-autofill:focus,
.main-form input:-webkit-autofill:active {
    -webkit-text-fill-color: #bbb !important;
    transition: background-color 5000s ease-in-out 0s;
}

.h1,
.h3 {
    color: whitesmoke;
}

input:focus,
input:active,
button:focus {
    outline: none !important;
}

.registration-bg .main-form {
    margin-top: 40%;
}

#main-header {
    height: 100vh;
}
/*===================== NEWS ==========================*/
#news {
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: white;
}
#news h2 {
    font-size: 50px;
    line-height: 1;
    margin: 0 0 .75em;
    font-weight: 700;
    letter-spacing: -.04em;
}

#news .news-block h3 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -.04em;
    margin-top: 24px;
    margin-bottom: 12px;
}

#news .news-block p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 1em ;
    text-align: justify;
}

#news ol {
    margin-bottom: 1.5em;
}
#news ol li {
    font-size: 18px;
}

#news #map {
    width: 100%;
    height: 500px;
}

hr {
    height: 3px;
    background-color: black;
    opacity: 0.6;
}
/*=================== END NEWS ========================*/

/*===================== FOOTER ==========================*/
footer {
    /*height: 50vh;*/
    background-color: #000;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding-bottom: 10vh;
    z-index: 2;
}

footer .container {
    padding-top: 10vh;
    text-align: center;
}

footer img {
    height: 7vh;
    /*float: left;*/
    margin-right: 1vh;
    vertical-align: super;
}

footer .logo-text {
    /*margin-top: 1vh;*/
    /*margin-bottom: 1vh;*/
    color: white;
    font-size: 24px;
    display: inline-block;
}

footer .address-text {
    color: white;
    font-size: 24px;
    display: inline-block;
    margin-bottom: 1vh;
}

footer .address {
    /*margin-top: 1vh;*/
    margin-bottom: 1vh;
    color: white;
    font-size: 16px;
    display: block;
}

footer .address a {
    /*margin-top: 1vh;*/
    color: white;
    font-size: 16px;
    /*display: block;*/
}
footer ul.social-links {
    padding-left: 0;
}

footer ul.social-links li {
    display: inline-block;
}

footer ul.social-links i {
    color: white;
}

footer ul.social-links li:first-child {
    padding-right: 15px;
}

footer ul.social-links i:hover {
    color: #8d939c;
    cursor: pointer;
}

/*=================== END FOOTER ========================*/

@media screen and (min-width: 320px)
and (max-width: 1024px) {
    .main-logo {
        height: 10vh;
    }

    .main-lead {
        font-size: 5vh;
        display: block;
    }
}

@media screen and (min-width: 970px) and (max-width: 1440px)
{
    #news .container,
    footer .container {
        width: 800px;
    }
}

