fos_user:
    db_driver: orm
    firewall_name: main
    user_class: Omer\UserBundle\Entity\User
    from_email: # Use this node only if you don't want the global email address for the confirmation email
        address:        "%mailer_user%"
        sender_name:   "%sender_name%"
#        registration:
#            confirmation:
#                from_email: # Use this node only if you don't want the global email address for the confirmation email
#                    address:        "%mailer_user%"
#                    sender_name:   name
#                enabled:    true # change to true for required email confirmation
#                template:   FOSUserBundle:Registration:email.txt.twig
#        resetting:
#            token_ttl: 3600
#            email:
#                from_email:
#                    address:        "%mailer_user%"
#                    sender_name:    name